#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
display: inline-flex;
}
.nav-li{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 4em;
  border: 1px solid #AAA;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
}
.nav-link:visited{
  color: #999;
}
