input,
label,
button {
  display: block;
}
input {
  margin-bottom: 1rem;
}
#reset {
  font-size: 0.8rem;
  color: #aaa;
  position: absolute;
  right: 50px;
}
#submit {
  background-color: rebeccapurple;
}
input#password{
  display: inline-block;
}
form{
  text-align: left;
}
